xsd/rcpn.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:simpleType name="DataFormatoBrasil">
    <xsd:restriction base="xsd:string">
      <xsd:length value="10"/>
      <xsd:pattern value="(((0[1-9]|[1,2][0-9])/02)|((0[1-9]|[1,2][0-9]|30)/(0[4,6,9]|11))|((0[1-9]|[1,2][0-9]|3[0,1])/(0[1,3,5,7,8]|1[0,2])))/[1,2][0-9]{3}"/>
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:simpleType name="DataHora">
  <xsd:restriction base="xsd:string">
    <xsd:length value="19"/>
    <xsd:pattern value="((0[1-9])|([12][0-9])|(3[01]))/((0[1-9])|(1[012]))/((000[1-9])|(00[1-9][0-9])|(0[1-9][0-9]{2})|([1-9][0-9]{3})) (([01][0-9])|(2[0-3]))(:[0-5][0-9]){2}(\.[0-9]+)?" />
  </xsd:restriction>
</xsd:simpleType>

  <xsd:simpleType name="FormatoSeloOriginal">
    <xsd:restriction base="xsd:string">
	  <xsd:minLength value="8"/>
	  <xsd:maxLength value="9"/>
      <xsd:pattern value="^[A-Z]{3,4}[0-9]{5}$"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FormatoSelo">
    <xsd:restriction base="xsd:string">
      <xsd:length value="9"/>
      <xsd:pattern value="^[A-Z]{4}[0-9]{5}$"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="FormatoAleatorio">
    <xsd:restriction base="xsd:string">
      <xsd:length value="3"/>
      <xsd:pattern value="^[A-Z]{3}$"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="CodigoServico">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
      <xsd:pattern value="^[0-9]{1,5}$"/>
    </xsd:restriction>
  </xsd:simpleType>

    <xsd:simpleType name="ValorDecimal">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="12"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string250">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="250"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string25">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="IndicadorSimNao">
		  <xsd:restriction base="xsd:string">
			<xsd:enumeration value="S" />
			<xsd:enumeration value="N" />
		  </xsd:restriction>
	</xsd:simpleType>

  <!-- Define o tipo complexo  -->

  <xsd:complexType name="Ato">
	<xsd:attribute name="DataPratica" use="required">
	  <xsd:simpleType>
		<xsd:restriction base="DataFormatoBrasil"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="Selo" use="required">
	  <xsd:simpleType>
		<xsd:restriction base="FormatoSelo"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="Aleatorio" use="required">
	  <xsd:simpleType>
		<xsd:restriction base="FormatoAleatorio"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="CodServicoAtoOriginal">
	  <xsd:simpleType>
		<xsd:restriction base="CodigoServico"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="SeloAtoOriginal">
	  <xsd:simpleType>
		<xsd:restriction base="FormatoSeloOriginal"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="AleatorioAtoOriginal">
	  <xsd:simpleType>
		<xsd:restriction base="FormatoAleatorio"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="CodServicoAtoReferencia">
	  <xsd:simpleType>
		<xsd:restriction base="CodigoServico"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="SeloAtoReferencia">
	  <xsd:simpleType>
		<xsd:restriction base="FormatoSeloOriginal"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="AleatorioAtoReferencia">
	  <xsd:simpleType>
		<xsd:restriction base="FormatoAleatorio"/>
	  </xsd:simpleType>
	</xsd:attribute>
	 <xsd:attribute name="Livro">
 	  <xsd:simpleType>
		<xsd:restriction base="string25"/>
	  </xsd:simpleType>
     </xsd:attribute>
	<xsd:attribute name="Folha">
	  <xsd:simpleType>
		<xsd:restriction base="string25"/>
	  </xsd:simpleType>
	</xsd:attribute>
  <xsd:attribute name="Termo">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1"/>
          <xsd:maxLength value="10"/>
          <xsd:pattern value="^[0-9]{1,10}$"/>
        </xsd:restriction>
      </xsd:simpleType>
  </xsd:attribute>
	<xsd:attribute name="MatriculaNacional">
		<xsd:simpleType>
       <xsd:restriction base="xsd:string">
          <xsd:length fixed="true" value="32"/>
       </xsd:restriction>
    </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="TipoLivro">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
			<xsd:maxLength value="1" />
			<xsd:pattern value="^[1-9]"/>
          </xsd:restriction>
        </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="OrdemJudicial">
		<xsd:simpleType>
		   <xsd:restriction base="IndicadorSimNao"/>
	    </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="NumeroProcessoJudicial">
		 <xsd:simpleType>
	         <xsd:restriction base="string25"/>
	     </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="DataSentencaDecisao">
      <xsd:simpleType>
        <xsd:restriction base="DataFormatoBrasil"/>
      </xsd:simpleType>
    </xsd:attribute>
	<xsd:attribute name="Observacoes">
		<xsd:simpleType>
		  <xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="4000"/>
		  </xsd:restriction>
        </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="IndCertidaoEletronica" >
	  <xsd:simpleType>
		<xsd:restriction base="xsd:string">
		  <xsd:enumeration value="S"/>
		</xsd:restriction>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="IndAtoEletronico" >
	  <xsd:simpleType>
		<xsd:restriction base="xsd:string">
		  <xsd:enumeration value="S"/>
		  <xsd:enumeration value="N"/>
		</xsd:restriction>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="UrlPDFAto" >
	  <xsd:simpleType>
		<xsd:restriction base="xsd:string">
		   <xsd:minLength value="2"/>
		   <xsd:maxLength value="2083"/>
		</xsd:restriction>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="HashPDFAto" >
	  <xsd:simpleType>
		 <xsd:restriction base="xsd:string">
          <xsd:length fixed="true" value="64"/>
         </xsd:restriction>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="UrlDossie" >
	  <xsd:simpleType>
		<xsd:restriction base="xsd:string">
		   <xsd:minLength value="2"/>
		   <xsd:maxLength value="2083"/>
		</xsd:restriction>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="HashDossie" >
	  <xsd:simpleType>
		 <xsd:restriction base="xsd:string">
          <xsd:length fixed="true" value="64"/>
         </xsd:restriction>
	  </xsd:simpleType>
	</xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Transmissao" abstract="true">
    <xsd:attribute name="DataPratica" use="required">
      <xsd:simpleType>
        <xsd:restriction base="DataFormatoBrasil"/>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="CCT" use="required">
      <xsd:simpleType>
        <xsd:restriction base="FormatoSelo"/>
      </xsd:simpleType>
    </xsd:attribute>
	<xsd:attribute name="IndAtoEletronico" >
	  <xsd:simpleType>
		<xsd:restriction base="xsd:string">
		  <xsd:enumeration value="S"/>
		  <xsd:enumeration value="N"/>
		</xsd:restriction>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="UrlPDFAto" >
	  <xsd:simpleType>
		<xsd:restriction base="xsd:string">
		   <xsd:minLength value="2"/>
		   <xsd:maxLength value="2083"/>
		</xsd:restriction>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="HashPDFAto" >
	  <xsd:simpleType>
		 <xsd:restriction base="xsd:string">
          <xsd:length fixed="true" value="64"/>
         </xsd:restriction>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="UrlDossie" >
	  <xsd:simpleType>
		<xsd:restriction base="xsd:string">
		   <xsd:minLength value="2"/>
		   <xsd:maxLength value="2083"/>
		</xsd:restriction>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="HashDossie" >
	  <xsd:simpleType>
		 <xsd:restriction base="xsd:string">
          <xsd:length fixed="true" value="64"/>
         </xsd:restriction>
	  </xsd:simpleType>
	</xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="ElementoJustificativaAtoNaoPraticado">
	<xsd:attribute name="Data" use="required">
	  <xsd:simpleType>
		<xsd:restriction base="DataFormatoBrasil"/>
	  </xsd:simpleType>
	</xsd:attribute>
  </xsd:complexType>

  <!-- TIPOS DE ATOS -->
  <xsd:complexType name="AtoRegistroNascimento">
	<xsd:complexContent>
		<xsd:extension base="Ato">
			<xsd:sequence>
				<xsd:element name="Nascido" type="tpPessoa" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Testemunhas" type="tpTestemunhas" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ImpressosSeguranca" type="tpImpressosSeguranca" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="TipoDocumento" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="NumeroDocumento">
				<xsd:simpleType>
		           <xsd:restriction base="string25"/>
	            </xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="ProtocoloConsultaDNV">
				<xsd:simpleType>
		           <xsd:restriction base="string25"/>
	            </xsd:simpleType>
			</xsd:attribute>
            <xsd:attribute name="NumeroRgAtribuido">
				 <xsd:simpleType>
		           <xsd:restriction base="string25"/>
	             </xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="NumeroGemeos">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1"/>
                <xsd:maxLength value="1"/>
                <xsd:pattern value="^[0-9]{1,1}$"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
			<xsd:attribute name="Local">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="1"/>
				<xsd:enumeration value="2"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="HoraNascimento">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="IndIndigena" use="required">
				<xsd:simpleType>
					<xsd:restriction base="IndicadorSimNao"/>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

    <xsd:complexType name="AtoRegistroTranscricaoNascimento">
	<xsd:complexContent>
		<xsd:extension base="Ato">
			<xsd:sequence>
				<xsd:element name="DescricaoTranscricao" type="tpDescricaoTranscricao" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Nascido" type="tpPessoa" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoCertidaoNascimento">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Nascido" type="tpPessoa" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
			<xsd:attribute name="TipoAto" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="RCN"/>
						<xsd:enumeration value="RCTN"/>
						<xsd:enumeration value="RCUI"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="IndInterligacao" use="required">
				<xsd:simpleType>
		           <xsd:restriction base="IndicadorSimNao"/>
	            </xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="IndInteiroTeor" use="required">
				<xsd:simpleType>
		          <xsd:restriction base="IndicadorSimNao"/>
	            </xsd:simpleType>
			</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoAverbacaoNascimento">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Nascido" type="tpPessoa" minOccurs="1" maxOccurs="1"/>
    	        <xsd:element name="AtosVinculados" type="tpAtosVinculados" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
			<xsd:attribute name="TipoAto" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="RAN"/>
						<xsd:enumeration value="RATN"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="TipoAverbacao" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="N1"/>
						<xsd:enumeration value="N2"/>
						<xsd:enumeration value="N3"/>
						<xsd:enumeration value="N4"/>
						<xsd:enumeration value="N5"/>
						<xsd:enumeration value="N6"/>
						<xsd:enumeration value="N7"/>
						<xsd:enumeration value="N8"/>
						<xsd:enumeration value="N9"/>
						<xsd:enumeration value="N10"/>						
						<xsd:enumeration value="N11"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="NumeroProcesso">
				<xsd:simpleType>
		          <xsd:restriction base="string25"/>
	            </xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="NomeServicoReconhecimento">
				<xsd:simpleType>
		          <xsd:restriction base="string250"/>
	            </xsd:simpleType>
			</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

    <xsd:complexType name="AtoProcessoPaternidadePS">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Genitor" type="tpPessoa" minOccurs="0" maxOccurs="2"/>
				<xsd:element name="Nascido" type="tpPessoa" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
			<xsd:attribute name="TipoProcesso" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="R2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="AtoAVO">
    <xsd:complexContent>
      <xsd:extension base="Transmissao">
        <xsd:sequence>
          <xsd:element name="Genitor" type="tpPessoa" minOccurs="0" maxOccurs="2"/>
		  <xsd:element name="Nascido" type="tpPessoa" minOccurs="1" maxOccurs="1"/>
		  <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="IndicacaoPaternidade" use="required">
			<xsd:simpleType>
		      <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		</xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

<xsd:complexType name="AtoProcessoPaternidadeOS">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Genitor" type="tpPessoa" minOccurs="1" maxOccurs="2"/>
				<xsd:element name="Nascido" type="tpPessoa" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="CodServico">
			<xsd:simpleType>
				<xsd:restriction base="CodigoServico"/>
			</xsd:simpleType>
		</xsd:attribute>
	  <xsd:attribute name="NomeServicoOriginal">
		    <xsd:simpleType>
		         <xsd:restriction base="string250"/>
	        </xsd:simpleType>
	  </xsd:attribute>
      <xsd:attribute name="EstadoServicoOriginal">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length fixed="true" value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoHabilitacaoCasamento">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Conjuges" type="tpConjuge" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="ProcessoHabilitacao" use="required">
			<xsd:simpleType>
		       <xsd:restriction base="string25"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="ConversaoUniaoEstavel" use="required">
			<xsd:simpleType>
		      <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="SeparacaoObrigatoriaBens" use="required">
			<xsd:simpleType>
		      <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoJuizPaz">
    <xsd:complexContent>
      <xsd:extension base="Transmissao">
        <xsd:sequence>
          <xsd:element name="AtosVinculados" type="tpAtosVinculados" minOccurs="1" maxOccurs="1"/>
		  <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>        
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoCertidaoHabilitacaoCasamento">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Conjuges" type="tpConjuge" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="AtosVinculados" type="tpAtosVinculados" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="ProcessoHabilitacao" use="required">
			<xsd:simpleType>
		      <xsd:restriction base="string25"/>
	        </xsd:simpleType>
		</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

   <xsd:complexType name="AtoRegistroCasamento">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Conjuges" type="tpConjuge" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="ImpressosSeguranca" type="tpImpressosSeguranca" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="AtosVinculados" type="tpAtosVinculados" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="DataCasamento" use="required">
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="DataPublicacaoProclamas" >
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="TipoCelebrante" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="4"/>
					</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="TipoUniao" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="TipoCasamento" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="5"/>
					<xsd:enumeration value="6"/>
					<xsd:enumeration value="7"/>
					</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="RegimeCasamento" >
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="5"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="ConversaoUniaoEstavel" use="required">
			<xsd:simpleType>
		      <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoTranscricaoCasamento">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Conjuges" type="tpConjuge" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="DescricaoTranscricao" type="tpDescricaoTranscricao" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="DataCasamento" use="required">
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoCertidaoCasamento">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Conjuges" type="tpConjuge" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="TipoAto" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="RCC"/>
					<xsd:enumeration value="RCTC"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="DataCasamento" use="required">
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="IndInterligacao" use="required">
				<xsd:simpleType>
		           <xsd:restriction base="IndicadorSimNao"/>
	            </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="IndInteiroTeor" use="required">
				<xsd:simpleType>
		          <xsd:restriction base="IndicadorSimNao"/>
	            </xsd:simpleType>
		</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

    <xsd:complexType name="AtoAverbacaoCasamento">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Conjuges" type="tpConjuge" minOccurs="1" maxOccurs="1"/>
    	        <xsd:element name="AtosVinculados" type="tpAtosVinculados" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="TipoAto" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="RAC"/>
					<xsd:enumeration value="RATC"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="TipoAverbacao" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="C1"/>
					<xsd:enumeration value="C2"/>
					<xsd:enumeration value="C3"/>
					<xsd:enumeration value="C4"/>
					<xsd:enumeration value="C5"/>					
					<xsd:enumeration value="C7"/>
					<xsd:enumeration value="C8"/>
					<xsd:enumeration value="C9"/>
					<xsd:enumeration value="C10"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoRegistroObito">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Falecido" type="tpPessoa" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="DescricaoTranscricao" type="tpDescricaoTranscricao" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Testemunhas" type="tpTestemunhas" minOccurs="0" maxOccurs="2"/>
				<xsd:element name="EnderecoObito" type="tpEndereco" minOccurs="0" maxOccurs="1"/>
                <xsd:element name="BeneficiosPrevidenciarios" type="tpBeneficiosPrevidenciarios" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Declarante" type="tpDeclarante" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ImpressosSeguranca" type="tpImpressosSeguranca" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="TipoAto" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="RRO"/>
					<xsd:enumeration value="RRTO"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="DataObito" use="required">
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="HoraObito">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="5"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="TipoLocalObito" >
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="5"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="DescricaoTipoLocalObito" >
				<xsd:simpleType>
		          <xsd:restriction base="string250"/>
	            </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="LugarObito">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="2"/>
					<xsd:maxLength value="500"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="LugarSepultamento">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="2"/>
					<xsd:maxLength value="255"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Caracteristica" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="CausaMorte">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="2"/>
					<xsd:maxLength value="255"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="TipoMorte" >
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="CorPele" >
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="5"/>					
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Eleitor">
			<xsd:simpleType>
		      <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="TipoDocumento" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="DescricaoDocumento" >
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="2"/>
			            <xsd:maxLength value="250"/>
			        </xsd:restriction>
		        </xsd:simpleType>
			</xsd:attribute>
		<xsd:attribute name="NumeroDocumento">
			<xsd:simpleType>
		      <xsd:restriction base="string25"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="ProtocoloConsultaObito">
			<xsd:simpleType>
		      <xsd:restriction base="string25"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="NomeAtestantePrimario">
			<xsd:simpleType>
		          <xsd:restriction base="string250"/>
	        </xsd:simpleType>
		</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

   <xsd:complexType name="AtoCertidaoObito">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Falecido" type="tpPessoa" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="TipoAto" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="RCO"/>
					<xsd:enumeration value="RCTO"/>
					<xsd:enumeration value="RCUIO"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="DataObito" >
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="IndInterligacao" use="required">
				<xsd:simpleType>
		           <xsd:restriction base="IndicadorSimNao"/>
	            </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="IndInteiroTeor" use="required">
				<xsd:simpleType>
		          <xsd:restriction base="IndicadorSimNao"/>
	            </xsd:simpleType>
		</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

     <xsd:complexType name="AtoAverbacaoObito">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Falecido" type="tpPessoa" minOccurs="1" maxOccurs="1"/>
    	        <xsd:element name="AtosVinculados" type="tpAtosVinculados" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="TipoAto" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="RAO"/>
					<xsd:enumeration value="RATO"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="TipoAverbacao" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="O1"/>
					<xsd:enumeration value="O2"/>
					<xsd:enumeration value="O3"/>
					<xsd:enumeration value="O4"/>
					<xsd:enumeration value="O5"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoRegistroEditalProclamas">
    <xsd:complexContent>
      <xsd:extension base="Transmissao">
        <xsd:sequence>
          <xsd:element name="ListaNomes" type="tpParticipantes" minOccurs="1" maxOccurs="1"/>
		  <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
		<xsd:attribute name="CodServico">
			<xsd:simpleType>
				<xsd:restriction base="CodigoServico"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="NomeServicoEmissor">
			<xsd:simpleType>
		       <xsd:restriction base="string250"/>
	        </xsd:simpleType>
		</xsd:attribute>
      <xsd:attribute name="EstadoServicoEmissor">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length fixed="true" value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoCertidaoEditalProclamas">
    <xsd:complexContent>
      <xsd:extension base="Ato">
        <xsd:sequence>
          <xsd:element name="ListaNomes" type="tpParticipantes" minOccurs="1" maxOccurs="1"/>
		  <xsd:element name="AtosVinculados" type="tpAtosVinculados" minOccurs="0" maxOccurs="1"/>
		  <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoProcessoAdministrativo">
    <xsd:complexContent>
      <xsd:extension base="Ato">
        <xsd:sequence>
          <xsd:element name="ListaNomes" type="tpParticipantes" minOccurs="1" maxOccurs="1"/>
		      <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="TipoRegistro" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="P1"/>
              <xsd:enumeration value="P2"/>
              <xsd:enumeration value="P3"/>
              <xsd:enumeration value="P4"/>
              <xsd:enumeration value="P5"/>              
              <xsd:enumeration value="P7"/>
			  <xsd:enumeration value="P8"/>
			  <xsd:enumeration value="P9"/>
			  <xsd:enumeration value="P10"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoCertidaoCRC">
    <xsd:complexContent>
      <xsd:extension base="Ato">
        <xsd:sequence>
          <xsd:element name="ListaNomes" type="tpParticipantes" minOccurs="1" maxOccurs="1"/>
		      <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="TipoRegistro" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="CN"/>
              <xsd:enumeration value="CO"/>
              <xsd:enumeration value="CC"/>
              <xsd:enumeration value="CNT"/>
              <xsd:enumeration value="COT"/>
			  <xsd:enumeration value="CCT"/>
              <xsd:enumeration value="CLE"/>
              <xsd:enumeration value="CIT"/>
              <xsd:enumeration value="CGRCPN"/>
              <xsd:enumeration value="CGIT"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoCertidaoCRCNacional">
    <xsd:complexContent>
      <xsd:extension base="Ato">
        <xsd:sequence>
          <xsd:element name="ListaNomes" type="tpParticipantes" minOccurs="1" maxOccurs="1"/>
		  <xsd:element name="AtosVinculados" type="tpAtosVinculados" minOccurs="0" maxOccurs="1"/>
		  <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="TipoRegistro" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="CN"/>
              <xsd:enumeration value="CO"/>
              <xsd:enumeration value="CC"/>
              <xsd:enumeration value="CNT"/>
              <xsd:enumeration value="COT"/>
			  <xsd:enumeration value="CCT"/>
              <xsd:enumeration value="CLE"/>
              <xsd:enumeration value="CIT"/>
              <xsd:enumeration value="CGRCPN"/>
              <xsd:enumeration value="CGIT"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

   <!--livro E-->
  <xsd:complexType name="AtoRegistroLivroE">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Participantes" type="tpParticipantes" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="AtosVinculados" type="tpAtosVinculados" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="Processo">
			<xsd:simpleType>
		      <xsd:restriction base="string25"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Juizo">
			<xsd:simpleType>
		        <xsd:restriction base="string250"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Comarca">
			<xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1"/>
          <xsd:maxLength value="4"/>
          <xsd:pattern value="^[0-9]{1,4}$"/>
        </xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="TipoRegistro" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="E1"/>
					<xsd:enumeration value="E2"/>
					<xsd:enumeration value="E3"/>
					<xsd:enumeration value="E4"/>
					<xsd:enumeration value="E5"/>
					<xsd:enumeration value="E6"/>
					<xsd:enumeration value="E7"/>
					<xsd:enumeration value="E8"/>
					<xsd:enumeration value="E9"/>
					<xsd:enumeration value="E10"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoCertidaoLivroE">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Participantes" type="tpParticipantes" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
  		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoAverbacaoLivroE">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Participantes" type="tpParticipantes" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="AtosVinculados" type="tpAtosVinculados" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="TipoAverbacao">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="E1"/>
					<xsd:enumeration value="E2"/>
					<xsd:enumeration value="E3"/>
					<xsd:enumeration value="E4"/>
					<xsd:enumeration value="E5"/>
					<xsd:enumeration value="E6"/>
					<xsd:enumeration value="E7"/>
					<xsd:enumeration value="E8"/>
					<xsd:enumeration value="E11"/>
					<xsd:enumeration value="E12"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
  		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoCertidaoGenerica">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
		        <xsd:element name="Participantes" type="tpParticipantes" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="AtosVinculados" type="tpAtosVinculados" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="TipoCertidao" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="G1"/>
					<xsd:enumeration value="G2"/>
					<xsd:enumeration value="G3"/>
					<xsd:enumeration value="G4"/>
					<xsd:enumeration value="G5"/>
					<xsd:enumeration value="G6"/>
					<xsd:enumeration value="G7"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Negativa" use="required">
			<xsd:simpleType>
		      <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		</xsd:attribute>
  		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoVisto">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Consultado" type="tpPessoa" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="Revalidada" use="required">
			<xsd:simpleType>
		      <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		</xsd:attribute>
  		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="tpFolhaAdicionalComplemento">
    <xsd:complexContent>
    <xsd:extension base="Transmissao">
	<xsd:sequence>
		<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
	</xsd:sequence>
		<xsd:attribute name="SeloAtoOriginal" use="required">
			<xsd:simpleType>
				<xsd:restriction base="FormatoSeloOriginal"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="AleatorioAtoOriginal" use="required">
			<xsd:simpleType>
				<xsd:restriction base="FormatoAleatorio"/>
			</xsd:simpleType>
		</xsd:attribute>
	<xsd:attribute name="QtdFolhasExcedentes" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="6"/>
				<xsd:pattern value="^[0-9]{1,6}$"/>
			</xsd:restriction>
		</xsd:simpleType>
  </xsd:attribute>
 </xsd:extension>
 </xsd:complexContent>
</xsd:complexType>

  <xsd:complexType name="tpInformacaoVerbal">
    <xsd:complexContent>
    <xsd:extension base="Transmissao">
	  <xsd:sequence>
		  <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
	  </xsd:sequence>
		<xsd:attribute name="NumeroAto" use="required">
			<xsd:simpleType>
		       <xsd:restriction base="string25"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Nome" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="2"/>
					<xsd:maxLength value="200"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
   </xsd:extension>
 </xsd:complexContent>
</xsd:complexType>

  <xsd:complexType name="AtoComplementoEmolumentos">
    <xsd:complexContent>
      <xsd:extension base="Transmissao">
        <xsd:sequence>
          <xsd:element name="AtosVinculados" type="tpAtosVinculados" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoAlteracaoEmolumentos">
        <xsd:sequence>
           <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
		<xsd:attribute name="Selo" use="required">
	      <xsd:simpleType>
		    <xsd:restriction base="FormatoSelo"/>
	      </xsd:simpleType>
	    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="AtoAlteracaoURL">
		<xsd:attribute name="Selo" use="required">
	      <xsd:simpleType>
		    <xsd:restriction base="FormatoSelo"/>
	      </xsd:simpleType>
	    </xsd:attribute>
		<xsd:attribute name="UrlPDFAto" >
		  <xsd:simpleType>
		    <xsd:restriction base="xsd:string">
		      <xsd:minLength value="2"/>
		      <xsd:maxLength value="2083"/>
		    </xsd:restriction>
	      </xsd:simpleType>
	    </xsd:attribute>
		<xsd:attribute name="UrlDossie" >
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="2"/>
					<xsd:maxLength value="2083"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="AtoMaterializacaoAtosDecisoriosFE">
	<xsd:complexContent>
		<xsd:extension base="Ato">
			<xsd:sequence>
              <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="OrigemDoc" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="W"/>
						<xsd:enumeration value="A"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="VaraInfanciaJuventudeIdoso" use="required">
			<xsd:simpleType>
		       <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		    </xsd:attribute>
			<xsd:attribute name="QtdTotalFolhas" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1"/>
                <xsd:maxLength value="6"/>
                <xsd:pattern value="^[0-9]{1,6}$"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>			
			<xsd:attribute name="DataImpressao" use="required">
	          <xsd:simpleType>
		        <xsd:restriction base="DataHora"/>
	          </xsd:simpleType>
		    </xsd:attribute>
			<xsd:attribute name="URL">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="2"/>
						<xsd:maxLength value="2083"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="NomeArquivo">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					    <xsd:minLength value="2"/>
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
	  	    <xsd:attribute name="FormatoArquivo">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					    <xsd:minLength value="2"/>
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="TamanhoArquivo">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
					    <xsd:minLength value="1"/>
						<xsd:maxLength value="10"/>
						<xsd:pattern value="^[0-9]{1,10}$"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>			
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AtoApostilamento">
	<xsd:complexContent>
		<xsd:extension base="Ato">
			<xsd:sequence>
        <xsd:element name="Participantes" type="tpParticipantes" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
	  <xsd:attribute name="Documento" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="50"/>
           </xsd:restriction>
          </xsd:simpleType>
      </xsd:attribute>
	  <xsd:attribute name="Apostilador" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="50"/>
           </xsd:restriction>
          </xsd:simpleType>
      </xsd:attribute>
	  <xsd:attribute name="DocumentoApostilador" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="25"/>
           </xsd:restriction>
          </xsd:simpleType>
      </xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="AtoEncerramentoLivro">
    <xsd:complexContent>
    <xsd:extension base="Transmissao">	  
		<xsd:attribute name="Livro" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
				 <xsd:minLength value="2"/>
				 <xsd:maxLength value="25"/>
				</xsd:restriction>	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="QtdTotalFolhas" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:minLength value="1"/>
                <xsd:maxLength value="6"/>
                <xsd:pattern value="^[0-9]{1,6}$"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>			
		    <xsd:attribute name="IdentificacaoLivro" use="required">
			 <xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="2"/>
					<xsd:maxLength value="100"/>
				</xsd:restriction>
			 </xsd:simpleType>
		    </xsd:attribute>
			<xsd:attribute name="DataEncerramento" use="required">
			 <xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			 </xsd:simpleType>
		    </xsd:attribute>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   	
	<xsd:complexType name="AtoDeclaratorioUniaoEstavel">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Conviventes" type="tpConviventes" minOccurs="1" maxOccurs="1"/>				
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="DataInicioUniao" >
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="RegimeBens" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="5"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>		
		<xsd:attribute name="IndHomoAfetiva" use="required">
			<xsd:simpleType>
		      <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="AtoDissolucaoUniaoEstavel">
	<xsd:complexContent>
		<xsd:extension base="Ato">
		<xsd:sequence>
				<xsd:element name="Conviventes" type="tpConviventes" minOccurs="1" maxOccurs="1"/>				
				<xsd:element name="Emolumentos" type="tpEmolumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="DataInicioUniao" >
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="DataFimUniao" >
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="IndDecisaoJudicial" use="required">
			<xsd:simpleType>
		      <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="RegimeBens" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="5"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="IndPartilhaBens" use="required">
			<xsd:simpleType>
		      <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="IndHomoAfetiva" use="required">
			<xsd:simpleType>
		      <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		</xsd:attribute>
		</xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>	

  <xsd:complexType name="tpDescricaoTranscricao">
		<xsd:attribute name="TipoDescricao" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Livro">
	   		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
				</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Folha">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Termo">
			<xsd:simpleType>
		      <xsd:restriction base="string25"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="DataRegistro">
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="OrgaoConsular">
			<xsd:simpleType>
		        <xsd:restriction base="string250"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="CodigoPais">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
			        <xsd:maxLength value="3"/>
	            <xsd:pattern value="^[0-9]{1,3}$"/>
			    </xsd:restriction>
		    </xsd:simpleType>
	    </xsd:attribute>
		<xsd:attribute name="Cidade">
			<xsd:simpleType>
		        <xsd:restriction base="string250"/>
	        </xsd:simpleType>
		</xsd:attribute>
  		<xsd:attribute name="Processo">
			<xsd:simpleType>
		      <xsd:restriction base="string25"/>
	        </xsd:simpleType>
		</xsd:attribute>
 </xsd:complexType>

 <xsd:complexType name="tpImpressosSeguranca">
		<xsd:sequence>
				<xsd:element name="ImpressoSeguranca" type="tpImpressoSeguranca" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
   </xsd:complexType>

 <xsd:complexType name="tpImpressoSeguranca">
		<xsd:attribute name="DataUtilizacao" >
	       <xsd:simpleType>
		      <xsd:restriction base="DataHora"/>
	       </xsd:simpleType>
	    </xsd:attribute>
		<xsd:attribute name="NumeroSerie">
			<xsd:simpleType>
		      <xsd:restriction base="string25"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="IndSegundaVia">
			<xsd:simpleType>
		       <xsd:restriction base="IndicadorSimNao"/>
	        </xsd:simpleType>
		</xsd:attribute>
   </xsd:complexType>

  <xsd:complexType name="tpBeneficiosPrevidenciarios">
    <xsd:sequence>
      <xsd:element name="BeneficioPrevidenciario" type="tpBeneficioPrevidenciario" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tpBeneficioPrevidenciario">
  		<xsd:attribute name="NumeroBeneficio">
			<xsd:simpleType>
		      <xsd:restriction base="string25"/>
	        </xsd:simpleType>
		</xsd:attribute>
   </xsd:complexType>

   <xsd:complexType name="tpOutrosDocumentos">
    <xsd:sequence>
      <xsd:element name="Documento" type="tpDocumento" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tpDocumento">
  		<xsd:attribute name="TipoDocumento" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="5"/>
					<xsd:enumeration value="6"/>
					<xsd:enumeration value="7"/>
					<xsd:enumeration value="8"/>
					<xsd:enumeration value="9"/>
					<xsd:enumeration value="10"/>
					<xsd:enumeration value="11"/>
					<xsd:enumeration value="12"/>
					<xsd:enumeration value="13"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="NumeroDocumento" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="100" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="DataEmissao">
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
   </xsd:complexType>

   <xsd:complexType name="tpEndereco">
  		<xsd:attribute name="Logradouro">
			<xsd:simpleType>
		        <xsd:restriction base="string250"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="NumeroLogradouro">
			<xsd:simpleType>
		      <xsd:restriction base="string25"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="Bairro">
			<xsd:simpleType>
		        <xsd:restriction base="string250"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="ComplementoLogradouro">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1" />
					<xsd:maxLength value="100" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="CodigoIBGEMunicipio">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
			        <xsd:maxLength value="7"/>
	            <xsd:pattern value="^[0-9]{1,7}$"/>
			    </xsd:restriction>
		    </xsd:simpleType>
	    </xsd:attribute>
   </xsd:complexType>

  <xsd:complexType name="tpPessoa">
		<xsd:sequence>
				<xsd:element name="OutrosDocumentos" type="tpOutrosDocumentos" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Endereco" type="tpEndereco" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Filiacao" type="tpFiliacao" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Patronos" type="tpPatronos" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	<xsd:attribute name="Tipo">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="1"/>
		        <xsd:maxLength value="3"/>
	            <xsd:pattern value="^[0-9]{1,3}$"/>
		    </xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>	
	<xsd:attribute name="Nome">
			<xsd:simpleType>
		        <xsd:restriction base="string250"/>
	        </xsd:simpleType>
	</xsd:attribute>
    <xsd:attribute name="NomeAdotado">
      <xsd:simpleType>
		  <xsd:restriction base="string250"/>
	  </xsd:simpleType>
    </xsd:attribute>
		<xsd:attribute name="Sexo">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="F"/>
					<xsd:enumeration value="M"/>
					<xsd:enumeration value="X"/>
					<xsd:enumeration value="I"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="EstadoCivil">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
					<xsd:enumeration value="4"/>
					<xsd:enumeration value="5"/>
					<xsd:enumeration value="6"/>
					<xsd:enumeration value="7"/>
					<xsd:enumeration value="8"/>
					<xsd:enumeration value="9"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="DataNascimento">
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="DataFalecimento">
			<xsd:simpleType>
				<xsd:restriction base="DataFormatoBrasil"/>
			</xsd:simpleType>
		</xsd:attribute>
    <xsd:attribute name="CPF">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="11"/>
          <xsd:maxLength value="14"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
	<xsd:attribute name="JustificativaAusenciaCPF" >
        <xsd:simpleType>
           <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
               <xsd:enumeration value="2"/>
		       <xsd:enumeration value="3"/>
           </xsd:restriction>
        </xsd:simpleType>
    </xsd:attribute>
		<xsd:attribute name="NumeroIdentidade">
			<xsd:simpleType>
		       <xsd:restriction base="string25"/>
	        </xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="OrgaoEmissor">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="2" />
					<xsd:maxLength value="70" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="CodigoOcupacaoSDC">
		  <xsd:simpleType>
			<xsd:restriction base="xsd:string">
			<xsd:pattern value="^[-]?[1-2]|[0-9]{1,6}$"/>
			</xsd:restriction>
		  </xsd:simpleType>
	    </xsd:attribute>
		<xsd:attribute name="Idade">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
			        <xsd:maxLength value="3"/>
	            <xsd:pattern value="^[0-9]{1,3}$"/>
			    </xsd:restriction>
		    </xsd:simpleType>
	    </xsd:attribute>
		<xsd:attribute name="Nacionalidade">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
			        <xsd:maxLength value="3"/>
	            <xsd:pattern value="^[0-9]{1,3}$"/>
			    </xsd:restriction>
		    </xsd:simpleType>
	    </xsd:attribute>
		<xsd:attribute name="PaisNascimento">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
			        <xsd:maxLength value="3"/>
	            <xsd:pattern value="^[0-9]{1,3}$"/>
			    </xsd:restriction>
		    </xsd:simpleType>
	    </xsd:attribute>
		<xsd:attribute name="CodigoIBGEMunicipioNaturalidade">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
			        <xsd:maxLength value="7"/>
	            <xsd:pattern value="^[0-9]{1,7}$"/>
			    </xsd:restriction>
		    </xsd:simpleType>
	    </xsd:attribute>
  </xsd:complexType>

 <xsd:complexType name="tpFiliacao">
		<xsd:sequence>
				<xsd:element name="Genitor" type="tpGenitor" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tpGenitor">
    <xsd:complexContent>
      <xsd:extension base="tpPessoa">
		<xsd:sequence>
        <xsd:element name="Progenitores" type="tpProgenitores" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="TipoFiliacao">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="M"/>
					<xsd:enumeration value="P"/>
					<xsd:enumeration value="G"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>

   <xsd:complexType name="tpProgenitores">
		<xsd:sequence>
				<xsd:element name="Progenitor" type="tpPessoa" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
   </xsd:complexType>

  <xsd:complexType name="tpConjuge">
	<xsd:sequence>
	<xsd:element name="Conjuge" type="tpPessoa" minOccurs="1" maxOccurs="2"/>
	</xsd:sequence>
 </xsd:complexType>

  <xsd:complexType name="tpParticipantes">
	<xsd:sequence>
		<xsd:element name="Participante" type="tpPessoa" minOccurs="1" maxOccurs="unbounded"/>
	</xsd:sequence>
 </xsd:complexType>

  <xsd:complexType name="tpTestemunhas">
	<xsd:sequence>
		<xsd:element name="Testemunha" type="tpPessoa" minOccurs="1" maxOccurs="unbounded"/>
	</xsd:sequence>
 </xsd:complexType>
 
 <xsd:complexType name="tpConviventes">
	<xsd:sequence>
		<xsd:element name="Convivente" type="tpPessoa" minOccurs="1" maxOccurs="unbounded"/>
	</xsd:sequence>
 </xsd:complexType>
 
 <xsd:complexType name="tpPatronos">
	<xsd:sequence>
		<xsd:element name="Patrono" type="tpPessoa" minOccurs="1" maxOccurs="unbounded"/>
	</xsd:sequence>
 </xsd:complexType>

 <xsd:complexType name="tpDeclarante">
    <xsd:complexContent>
      <xsd:extension base="tpPessoa">
		<xsd:attribute name="TipoDeclarante" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1"/>
					<xsd:enumeration value="2"/>
					<xsd:enumeration value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>

  <xsd:complexType name="tpAtosVinculados">
    <xsd:sequence>
      <xsd:element name="AtoVinculado" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="TipoVinculo" use="required">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="I"/>
                <xsd:enumeration value="M"/>
				<xsd:enumeration value="L"/>
				<xsd:enumeration value="G"/>
				<xsd:enumeration value="O"/>
				<xsd:enumeration value="R"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="Q"/>
				<xsd:enumeration value="W"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="CodigoServico">
            <xsd:simpleType>
              <xsd:restriction base="CodigoServico"/>
            </xsd:simpleType>
          </xsd:attribute>
		  <xsd:attribute name="CodigoServicoCNS">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
			        <xsd:maxLength value="6"/>
	            <xsd:pattern value="^[0-9]{1,6}$"/>
			    </xsd:restriction>
		    </xsd:simpleType>
	      </xsd:attribute>
          <xsd:attribute name="Selo">
            <xsd:simpleType>
              <xsd:restriction base="FormatoSeloOriginal"/>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="Aleatorio">
            <xsd:simpleType>
              <xsd:restriction base="FormatoAleatorio"/>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="TipoSelo">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="F"/>
                <xsd:enumeration value="E"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:attribute>
          <xsd:attribute name="CCT" >
            <xsd:simpleType>
              <xsd:restriction base="FormatoSelo"/>
            </xsd:simpleType>
          </xsd:attribute>
		  <xsd:attribute name="SeloOutroEstado">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
			        <xsd:maxLength value="50"/>
			    </xsd:restriction>
		    </xsd:simpleType>
	      </xsd:attribute>
          <xsd:attribute name="DataPratica">
            <xsd:simpleType>
              <xsd:restriction base="DataFormatoBrasil"/>
            </xsd:simpleType>
          </xsd:attribute>
		  <xsd:attribute name="NomeServico">
			<xsd:simpleType>
		        <xsd:restriction base="string250"/>
	        </xsd:simpleType>
		 </xsd:attribute>
		 <xsd:attribute name="EstadoServico">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="2" />
					<xsd:maxLength value="2" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
          <xsd:attribute name="NumeroProtocolo">
            <xsd:simpleType>
		      <xsd:restriction base="string25"/>
	        </xsd:simpleType>
          </xsd:attribute>
		  <xsd:attribute name="Processo">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
			        <xsd:maxLength value="50"/>
			    </xsd:restriction>
		    </xsd:simpleType>
	      </xsd:attribute>
		  <xsd:attribute name="Tombo">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
			        <xsd:maxLength value="50"/>
			    </xsd:restriction>
		    </xsd:simpleType>
	      </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tpEmolumentos">
	<xsd:sequence>
		<xsd:element name="ItemEmolumento" minOccurs="0" maxOccurs="100">
			<xsd:complexType>
        <xsd:attribute name="Ano" >
          <xsd:simpleType>
            <xsd:restriction base="xsd:gYear"/>
          </xsd:simpleType>
        </xsd:attribute>
				<xsd:attribute name="Tabela" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:minLength value="1"/>
					        <xsd:maxLength value="8"/>
					    </xsd:restriction>
				    </xsd:simpleType>
			    </xsd:attribute>
				<xsd:attribute name="Item" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:minLength value="1"/>
					        <xsd:maxLength value="20"/>
					    </xsd:restriction>
				    </xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="SubItem">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
					        <xsd:maxLength value="20"/>
					    </xsd:restriction>
				    </xsd:simpleType>
  			    </xsd:attribute>
		  	    <xsd:attribute name="Quantidade" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
						    <xsd:minLength value="1"/>
						    <xsd:maxLength value="4"/>
 				            <xsd:pattern value="^[0-9]{1,4}$"/>
						</xsd:restriction>
			        </xsd:simpleType>
				</xsd:attribute>
		  	    <xsd:attribute name="Complemento">
				    <xsd:simpleType>
				        <xsd:restriction base="xsd:string">
   				            <xsd:minLength value="2"/>
				            <xsd:maxLength value="200"/>
				        </xsd:restriction>
				    </xsd:simpleType>
				</xsd:attribute>
		  	    <xsd:attribute name="Excecao">
				    <xsd:simpleType>
						<xsd:restriction base="xsd:string">
						    <xsd:minLength value="2"/>
						    <xsd:maxLength value="200"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:complexType>
		</xsd:element>
	</xsd:sequence>
	<xsd:attribute name="TipoCobranca" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="JG"/>
			    <xsd:enumeration value="CC"/>
			    <xsd:enumeration value="SC"/>
			    <xsd:enumeration value="NH"/>
				<xsd:enumeration value="PZ"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="Hipossuficiente" >
		<xsd:simpleType>
		   <xsd:restriction base="IndicadorSimNao"/>
	    </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="ValorTotalEmolumentos">
	  <xsd:simpleType>
		<xsd:restriction base="ValorDecimal"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="FETJ">
	  <xsd:simpleType>
		<xsd:restriction base="ValorDecimal"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="FUNDPERJ">
	  <xsd:simpleType>
		<xsd:restriction base="ValorDecimal"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="FUNPERJ">
	  <xsd:simpleType>
		<xsd:restriction base="ValorDecimal"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="FUNPGALERJ">
		<xsd:simpleType>
			<xsd:restriction base="ValorDecimal"/>
        </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="FUNPGT">
		<xsd:simpleType>
			<xsd:restriction base="ValorDecimal"/>
        </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="FUNDAC_PGUERJ">
		<xsd:simpleType>
			<xsd:restriction base="ValorDecimal"/>
        </xsd:simpleType>
	</xsd:attribute>
    <xsd:attribute name="FUNARPEN">
	  <xsd:simpleType>
		<xsd:restriction base="ValorDecimal"/>
	  </xsd:simpleType>
	</xsd:attribute>	
	<xsd:attribute name="ValorDistribuidor">
	  <xsd:simpleType>
		<xsd:restriction base="ValorDecimal"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="ValorSeloEletronico">
	  <xsd:simpleType>
		<xsd:restriction base="ValorDecimal"/>
	  </xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="ValorISS">
	  <xsd:simpleType>
		<xsd:restriction base="ValorDecimal"/>
	  </xsd:simpleType>
	</xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="RemessaAtos">
	<xsd:sequence maxOccurs="unbounded">
		<xsd:element name="JustificativaAtoNaoPraticado" type="ElementoJustificativaAtoNaoPraticado" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="RegistroNascimento" type="AtoRegistroNascimento" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="RegistroTranscricaoNascimento" type="AtoRegistroTranscricaoNascimento" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="CertidaoNascimento" type="AtoCertidaoNascimento" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="AverbacaoNascimento" type="AtoAverbacaoNascimento" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="ProcessoPaternidadePS" type="AtoProcessoPaternidadePS" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="AVO" type="AtoAVO" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="ProcessoPaternidadeOS" type="AtoProcessoPaternidadeOS" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="HabilitacaoCasamento" type="AtoHabilitacaoCasamento" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="JuizPaz" type="AtoJuizPaz" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="CertidaoHabilitacaoCasamento" type="AtoCertidaoHabilitacaoCasamento" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="RegistroCasamento" type="AtoRegistroCasamento" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="TranscricaoCasamento" type="AtoTranscricaoCasamento" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="CertidaoCasamento" type="AtoCertidaoCasamento" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="AverbacaoCasamento" type="AtoAverbacaoCasamento" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="RegistroObito" type="AtoRegistroObito" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="CertidaoObito" type="AtoCertidaoObito" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="AverbacaoObito" type="AtoAverbacaoObito" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="RegistroEditalProclamas" type="AtoRegistroEditalProclamas" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="CertidaoEditalProclamas" type="AtoCertidaoEditalProclamas" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="ProcessoAdministrativo" type="AtoProcessoAdministrativo" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="CertidaoCRC" type="AtoCertidaoCRC" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="CertidaoCRCNacional" type="AtoCertidaoCRCNacional" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="RegistroLivroE" type="AtoRegistroLivroE" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="CertidaoLivroE" type="AtoCertidaoLivroE" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="AverbacaoLivroE" type="AtoAverbacaoLivroE" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="CertidaoGenerica" type="AtoCertidaoGenerica" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="Visto" type="AtoVisto" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="FolhaAdicionalComplemento" type="tpFolhaAdicionalComplemento" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="InformacaoVerbal" type="tpInformacaoVerbal" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ComplementoEmolumentos" type="AtoComplementoEmolumentos" minOccurs="0" maxOccurs="unbounded"/>
	    <xsd:element name="AlteracaoEmolumentos" type="AtoAlteracaoEmolumentos" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="AlteracaoURL" type="AtoAlteracaoURL" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="MaterializacaoAtosDecisoriosFE" type="AtoMaterializacaoAtosDecisoriosFE" minOccurs="0" maxOccurs="unbounded"/>		
		<xsd:element name="Apostilamento" type="AtoApostilamento" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="EncerramentoLivro" type="AtoEncerramentoLivro" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="DeclaratorioUniaoEstavel" type="AtoDeclaratorioUniaoEstavel" minOccurs="0" maxOccurs="unbounded"/>
		<xsd:element name="DissolucaoUniaoEstavel" type="AtoDissolucaoUniaoEstavel" minOccurs="0" maxOccurs="unbounded"/>

	</xsd:sequence>
	<xsd:attribute name="Id" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="25"/>
				<xsd:pattern value="^[0-9]{1,25}$"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="CodServico" use="required">
		<xsd:simpleType>
			<xsd:restriction base="CodigoServico"/>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="TipoOperacao" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="I"/>
				<xsd:enumeration value="A"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="Software">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:minLength value="2"/>
				<xsd:maxLength value="100"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<xsd:attribute name="Ambiente" use="required">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="HML"/>
				<xsd:enumeration value="PRD"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
  </xsd:complexType>

  <!-- estrutura que o documento precisa estar em conformidade.
       Ela inicia com o elemento CivilPessoasNaturais que aninha outros elementos. -->

  <xsd:element name="CivilPessoasNaturais">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="Remessa" type="RemessaAtos" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="AssinaturaRemessa" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="VersaoLayout" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>